@charset "UTF-8";

*{padding: 0; margin: 0; vertical-align: top; box-sizing: border-box;}
html, body{width: 100%; height: 100%; background-color: #fff;color: #333;}
a{text-decoration: none;width: 100%;height: 100%;text-align: center;color: inherit;display: inline-block;}
ul, li{list-style-type: none;}
.clearfix::before, .clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.hide-title{width: 1px;height: 1px;position: absolute !important;overflow: hidden;
z-index: -99999;text-indent: -99999px;margin: -1px;font-size: 1px;
line-height: 1px;}

.modal{position: fixed;width: 100%;height: 100%;
background-color: rgba(0,0,0,.3);z-index: 3;display: none;
}
.modal .modal-pop{position: absolute;top: 50%;left: 50%;
transform: translate(-50%, -50%);background-color: #fff;
padding: 5px;width: 500px;
}
.modal p{margin: 5px;}
.modal p:nth-child(1){font-size: 20px;font-weight: 800;}
.modal p:nth-child(2){}
.modal p:nth-child(3){text-align: right;}
.modal button{margin: 5px;width: 80px;height: 30px;}


#wrap{width: 100%; height: 100%;}
.container{position: relative;width: 1200px;margin: 0 auto;height: 100%;}

#header{width: 100%;height: 100px;position: relative;}
#header h1{float: left;width: 200px;height: 100%;}
#header h1 a{}
#header h1 a img{width: 100%;margin-top: 30px;}
#header nav{float: right;width: 800px;margin: 30px 30px 0 0;position: absolute;z-index: 1;right: 0;background-color: #fff;}
#header nav>ul{}
#header nav>ul>li{float: left;width: 200px;height: 40px;line-height: 40px;}
#header nav>ul>li:hover >a{background-color: #E66B27;color: #fff;}
#header nav>ul>li>a{}
#header nav .submenu{height: 160px;background-color: #fff;display: none;}
#header nav .submenu li{width: 200px;height: 40px;line-height: 40px;}
#header nav .submenu li a{}
#header nav .submenu li:hover a{background-color: #E66B27;color: #fff;}


#main{height: 500px;}
#main .slide{width: 100%;height: 300px;position: relative;overflow: hidden;}
#main .slide ul{width: 3600px;position: absolute;top: 0;left: 0;}
#main .slide ul li{float: left;width: 1200px;height: 300px;}
#main .slide ul li a{}
#main .slide ul li a img{}

#main .contents{width: 100%;height: 200px;position: relative;}
#main .contents section{float: left;width: 400px;height: 200px;}
#main .contents .board{}
#main .contents .board h2{position: absolute;top: 0;left: 0;width: 100px;
height: 40px;line-height: 40px;text-align: center;background-color: #d4d4d4;color: #bbb;font-size: 20px;font-weight: 900;cursor: pointer;}
#main .contents .board h2.on{background-color: #fff;color: #E66B27;}
#main .contents .board ul{position: absolute;left: 0;top: 40px;}
#main .contents .board h2.b01{}
#main .contents .board ul.b01{width: 400px;}
#main .contents .board ul.b01 li{width: 100%; height: 32px;line-height: 32px;}
#main .contents .board ul.b01 li a{text-align: left;}
#main .contents .board ul.b01 li a span{float: right;}
#main .contents .board h2.b02{left: 100px;}
#main .contents .board ul.b02{width: 400px;height: 160px;display: none;}
#main .contents .board ul.b02 li{float: left;width: 33.33%;height: 100%;}
#main .contents .board ul.b02 li a{}
#main .contents .board ul.b02 li a img{width: 100px; height: 100px;margin-top: 30px;}

#main .contents .banner{}
#main .contents .banner h2{}
#main .contents .banner a{}
#main .contents .banner a img{width: 100%;height: 100%;}

#main .contents .direct{}
#main .contents .direct h2{}
#main .contents .direct a{}
#main .contents .direct a img{width: 100%;height: 100%;}



#footer{width: 100%; height: 100px;position: relative;background-color: #E66B27;}
/* #footer div{position: absolute;} */
#footer .logo{position: absolute;top: 0; left: 0;width: 200px;height: 100px;}
#footer .logo img{width: 100%;margin-top: 30px;}
#footer .footmenu{position: absolute;top: 0; left: 200px;width: 1000px;height: 50px;line-height: 50px;padding: 0 50px;}
#footer .footmenu ul{}
#footer .footmenu ul li{float: left;width: 33.33%;}
#footer .footmenu ul li a{}
#footer .copy{position: absolute;top: 50px; left: 200px;width: 1000px;height: 50px;padding: 0 10px;}
#footer .copy span{display: inline-block;font-size: 13px;margin: 0 10px;}