@charset "utf-8";

/*PC - 메인 컨텐츠 영역 - 로그인, 베너*/

	/*메인 컨텐츠 영역 전체 레이아웃*/
	/*시각적 구분을 위해서 위쪽에 테두리*/
	#content { 
		width:1003px;
		margin:0 auto;
		border-top:3px double #ccc;
		padding:30px 0;
	}
	/*안의 컨텐츠 들을 3단으로 float할 예정이므로 먼저 해제*/
	#content:after { 
		content:""; 
		display:block;
		clear:both;
	}

	/*3단 컨텐츠 중 좌측 - 로그인 , 베너*/
	#login-banner { 
		float:left; width:201px; 
		padding:0 35px 0 10px;
	}

	/*==================로그인 영역=======================*/

	/*제목과 내용 테두리를 설정*/
	#login-area h2 { 
		height:33px;
	}
	#login-area .iform { 
		position:relative; width:100%; 
	}
	#login-area .iform fieldset { 
		border:1px solid #ccc; padding:10px 15px;
	}

	#login-area .iform input.tbox { 
		border:1px solid #ccc; border-radius:4px; width:105px; height:22px;
	}
	#login-area .iform p { 
		padding:2px 0 3px;
	}
	/*로그인 버튼만 absolute 하여 우측에 배치*/
	#login-area .iform .loginbtn { 
		position:absolute; right:15px; top:11px;
	}
	/*로그인 버튼 gradien*/
	#login-area .iform .loginbtn a { 
		display:block; width:54px; height:33px; padding-top:17px; 
		background:#09f;
		background:-webkit-gradient(linear, left top, left bottom, from(#09f), to(#07d));
		background:-moz-linear-gradient(top, #09f,  #07d);
		background:-o-linear-gradient(top,#09f,  #07d);
		border:1px solid #069; border-radius:7px; color:#fff; text-align:center;
	}
	#login-area .iform ul { 
		padding:10px 0 5px; 
	}
	/*아랫쪽 두 버튼이 float 된 것을 해제*/
	#login-area .iform ul:after { 
		content:""; display:block;clear:both;
	}
	/*로그인 하단 버튼의 위치와 글꼴 등을 지정*/
	#login-area .iform ul li.find { float:left; }
	#login-area .iform ul li.join { float:right; }
	#login-area .iform ul li a { 
		font:12px "NGothicEB",Gulim; color:#999; 
	}
	#login-area .iform ul li a:hover { 
		color:#333;
	}
	/*==================//로그인 영역=======================*/
	/*==================베너 영역=======================*/
	/*배너들의 여백과 정렬상태 지정*/
	#banner-area { 
		padding-top:10px;
	}
	#banner-area li { 
		padding-top:5px; text-align:center;
	}
	/*==================//베너 영역=======================*/


/*태블릿 -메인 컨텐츠 영역 -  로그인, 베너*/
@media (max-width:1023px) {
	/*width 변경*/
	#content { 
		width:95%; 
	}
	/*이 박스의 크기는 로그인 제목 이미지를 넘기지 않도록 아무리 커도 201px이 넘지 않도록 함*/
	#login-banner { 
		max-width:201px;
		width:22%;
		padding: 0 20px 10px;
	}
	/*==================로그인 영역=======================*/
	#login-area h2 img { 
		height:33px; 
	}
	#login-area .iform fieldset { 
		padding:8px 5px 8px 5px; 
	}
	/*width 조정*/
	#login-area .iform p {
		padding: 2px 0px 3px;
	}
	#login-area .iform input.tbox { 
		width:57%; 
	}
	#login-area .iform .loginbtn { 
		width:56px; 
		height:53px; 
		right:15px; 
	}
	#login-area .iform .loginbtn a { 
		padding-top:14px; 
		height: 100%;
    	box-sizing: border-box;
    	line-height: 24px;
	}
	#login-area .iform ul li.join { float:left; }
	/*글머리 기호를 배경 이미지로 부여*/
	#login-area .iform ul li a { 
		padding-left:5px; 
		background:url(../images/bul_login.gif) no-repeat 0 50%; 
		font:12px "NGothicEB",Gulim; 
		color:#999; 
		letter-spacing: -1px;
	}
	/*==================//로그인 영역=======================*/
	/*==================베너 영역=======================*/
	#banner-area { 
		padding-top:8px; 
	}
	#banner-area li { 
		padding-top:2px; 
	}
	/*==================//베너 영역=======================*/
}

/*모바일 - 메인 컨텐츠 영역 -  로그인, 베너*/
@media (max-width:767px) {
	/*로그인, 배너 박스를 숨김처리*/
	#login-banner { display:none; }
}