@charset "utf-8";


/*PC - 헤더 영역*/
	/*body 이미지 가로 반복*/
	body { 
		background:url("../images/body_bg.gif") repeat-x; 
	}
	/*=======================헤더 상단====================*/
	/*화면에 header가 다수 나올수 있으므로 id 선택자 추가 */
	/*firstheader안에 absolute 가 있을수도 있으므로 position 정해줌*/
	/*화면 해상도가 1024 부터 이므로 width:1003px;*/
	/*margin:0 auto;중앙 정렬*/
	/*#recomm_book뒤로 갈 수 있어서 z-index 줌*/
	header#firstheader {
		position:relative; width:1003px; margin:0 auto; z-index:40;
	}

	/*로고위치 설정*/
	/*body 이미지가 140px==> 이미지 상단에 맞춰줬음*/
	h1 { 
		padding:26px 0 17px;  height:62px;
	}

	/*도서검색 - 우측 배치 */
	#sform {
		position:absolute;right:0;top:60px; width:235px; text-align:right; 
	}
	/*입력상자 테두리와 크기 설정*/
	#sform .tbox { 
		height:21px; width:178px; border:1px solid #ccc; 
	}

	/*헤더 상단 메뉴 우측 끝 배치*/
	.util {
		position: absolute; right: 0; top: 20px;
	}
	.util li {
		display: inline; padding-left: 20px;
	}
	/*=======================//헤더 상단====================*/
	/*====================주메뉴============================*/
	#gnb {
		position: relative; width: 100%; height: 70px;
	}

	/*주메뉴 안에 float 된 요소들 풀어주는 가상 요소*/
	#gnb:after {
		content: ""; display: block; clear: both;
	}
	/*gnb 안의 메뉴 박스와 전체보기 요소를 여백없이 나란히 배치*/
	#gnb ul {
		float: left;
	}
	/*메뉴들을 여백없이 나란히 배치, 사이를 1px 정도 벌어지게 함*/
	#gnb li {
		float:left; width:205px; height:39px; text-align:center; background:#3da7db; margin-right:1px;
	}
	/*메인 메뉴들의 목록 처리*/
	#gnb li a.mm { 
		float:left; width:205px; height:29px; text-align:center; padding-top:10px; color:#fff; 
	}
	/*나중에 스크립트로 처리-임시*/
	#gnb li a.mm:hover { height:32px; background:#3da7db url("../images/over_icon.gif") no-repeat center bottom; }
	/*서브 메뉴들은 absolute 하여 메인 메뉴 박스의 좌측에 위치*/
	#gnb li ul { 
		position:absolute; left:40px; top:45px; display:none; 
	}
	#gnb li.m1 ul {  }
	/*서브 메뉴들 위치 잡아줌*/
	#gnb li.m2 ul { 
		left:230px; 
	}
	#gnb li.m3 ul { 
		left:405px; 
	}
	#gnb li.m4 ul { 
		left:640px; 
	}
	/*서브메뉴들의 가로, 세로 길이를 메인 메뉴에서 상속 받지 않도록 하고 배경색을 없애줌*/
	#gnb li ul li { 
		padding:0 10px; width:auto; height:auto; background:none; 
	}

	/*나중에 스크립트로 처리 - 임시*/
	/*#gnb li:first-child ul{
		display: block;
	}*/
	/*====================//주메뉴============================*/
	/*====================전체메뉴============================*/
	/*전체 메뉴 버튼*/
	/*float:left를 써서 옆으로 나란히 붙인다*/
	.allmenu_view { 
		float:left;width:179px;text-align:center; 
	}
	/*크기를 지정하여 이미지를 주기 위해 display:inline-block을 줌 */
	/*allmenu_view:높이 39px = 26 + 13*/
	.allmenu_view a { 
		display:inline-block; background:#3da7db url("../images/btn_allmenu.gif") no-repeat center top;
		width:100%;height:26px; padding-top:13px; color:#fff;
	}
	#allMenu_box { 
		position:absolute; width:850px; left:40px; top:105px; padding:15px 30px; display:none; z-index:40;
		background:#fff url("../images/allMenu_bg.gif") repeat-x; border:4px solid #369;  
	}
	#allMenu_box ul { 
		width:100%; 
	}
	/*float:left를 한 부모 요소에 after를 사용 - 태그 뭉개짐 방지 */
	#allMenu_box ul:after { 
		content:""; display:block; clear:both; 
	}
	#allMenu_box ul li { 
		float:left;  width:140px; padding:0 30px;  
	}
	#allMenu_box ul li a { 
		font:bold 16px  "NGothicEB",Gulim; color:#555; 
	}
	#allMenu_box ul li ul { 
		padding-top:20px; width:100px; 
	}
	#allMenu_box ul li ul li { 
		float:none; width:auto; padding:5px 0; border-bottom:1px dashed #ccc; 
	}
	#allMenu_box ul li ul li a { 
		font:bold 14px  "NGothicEB",Gulim; color:#aaa; 
	}
	/*전체메뉴 닫기 버튼은 다른 요소와 겹치므로 absolute를 주어서 아래에 배치 */
	.all_close { 
		position:absolute; right:0; bottom:0; padding:5px;background:#369; color:#fff; 
	}
	.all_close:hover { 
		color:#e8e8e8; 
	}

	/*임시로 보여주기- 임시*/
	/*#allMenu_box {
		display: block;
	}*/
	/*====================//전체메뉴============================*/

/*태블릿 - 헤더 영역*/
@media (max-width:1023px) {
	/*=======================헤더 상단====================*/
	/*가변적 환경에서 이상해 보이지 않도록 확인 해 가면서 가로폭을 지정-퍼센트 지정*/
	header#firstheader {
		width:95%; 
	}
	/*=======================//헤더 상단====================*/
	/*====================주메뉴============================*/
	/*가로폭 퍼센트 지정*/
	#gnb {
		width:95%; 
		margin:0 auto; 
	}
	#gnb:after {
		content:""; 
		display:block; 
		clear:both; 
	}
	/*주메뉴도 768에서 1023사이에 어느 크기에도 어색함이 없도록 확인하면서 조정*/
	#gnb  ul {
		width:80%; 
	}
	/*가로 사이즈를 4분의 1로 하고 box-sizing을 border-box로 하여 테두리가 폭에 포함
	되도록 하여 크기에 약간의 변동이 있어도 어색하지 않게 함 */
	#gnb li {
		width:25%; 
		box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
		border-right:1px solid #06c; 
		margin: 0;
	}
	/*가로폭 퍼센트로 지정*/
	#gnb li a.mm {
		width:100%;
		color:#fff; 
	}
	/*hover 사용 주의*/
	/*	#gnb li a.mm:hover {
 		height:32px; background:#3da7db url("../images/over_icon.gif") no-repeat center bottom; 
	} */
	/*서브 메뉴의 위치를 역시 퍼센트로 잡아서 사이즈의 변동에 어울리도록 한다*/
	#gnb li ul {
		left:0; 
	}
	#gnb li.m1 ul {
		width:170px; 
	}
	#gnb li.m2 ul {
		left:20%; 
		width:170px; 
	}
	#gnb li.m3 ul {
		left:40%; 
		width:280px; 
	}
	#gnb li.m4 ul {
		left:60%; 
		width:200px; 
	}

	#gnb li ul li {
		border:none;
	}
	/*====================//주메뉴============================*/
	/*====================전체메뉴============================*/
	/*가로폭 퍼센트로 지정*/
	.allmenu_view {
		width:20%;
	}
	/*전체메뉴 보기 화면 구성을 다르게 가져감-ppt 참조*/
	#allMenu_box {
		width:85%; 
		left:7%; 
		padding:10px 0 0; 
		background:#fff; 
	}
	#allMenu_box ul {
		width:95%; 
		margin:0 auto; 
		padding-bottom:5px;
	}
	#allMenu_box ul li {
		width:100%; 
		border-bottom:1px dashed #ccc; 
		padding:5px 0;
		float: none;
	}
	/*전체보기 화면을 구성하는 리스트의 마지막 줄엔 밑줄을 없앤다*/
	#allMenu_box ul li.last {
		border:none; 
	}

	#allMenu_box ul li:after {
		content:""; 
		display:block; 
		clear:both; 
	}

	/*전체 보기 내용의 서브 리스트에는 가로폭이 지정되지 않도록 상속을 풀어줌*/
	#allMenu_box ul li a {
		background:#eee;  
		float:left; 
		width:33%; 
		text-align:center;
	}
	#allMenu_box ul li ul {
		float:left; 
		width:65%; 
		padding:0 0 0 2%; 
	}
	#allMenu_box ul li ul li {
		float:left; 
		padding:5px 5% 5px 0; 
		border:none;
	}
	/*전체보기의 서브리스트의 링크에는 배경색이 지정되지 않도록 상속을 풀어줌*/
	#allMenu_box ul li ul li a {
		width:auto; 
		text-align:left; 
		background:none; 
	}
	/*닫기 버튼은 가로폭 가득 길게 디자인-블록으로 설정*/
	.all_close {
		display:block; 
		text-align:center; 
		position: unset;
	}
	/*====================//전체메뉴============================*/
}

/*모바일 - 헤더 영역*/
@media (max-width:767px) {
	/*배경 이미지 변경*/
	body { 
		background:url("../images/m_body_bg.gif") repeat-x;
	}
	header#firstheader { 
		position:relative;
		width:95%;
		margin:0 auto;
		z-index:40;
	}
	h1 { 
		width:97px;
		margin:0 auto;
		padding:15px 0;
	}
	#sform { 
		width: 98%;
	    margin: 0 auto;
	    padding-bottom: 10px;
	    text-align: left;
	    position: unset;
	}
	#sform .tbox { 
		height:22px;
		width:83%;
		border:1px solid #ccc;
	}
	#sform .sbtn { 
		float:right;
	}
	/*상단 메뉴(Home) 가 나타나지 않게 함 */
	.util { 
		display:none;
	}
	/*주메뉴를 화면에 꽉 차게 배정*/
	#gnb { 
		width:98%;
		margin:0 auto;
	}
	/*주메뉴 위와 아래만 푸른 라인으로 디자인*/
	#gnb ul { 
		height:78px;
		border-top:2px solid #3da7db;
		border-bottom:2px solid #3da7db;
		float: none;
    	width: auto;
	}
	/*주메뉴는 테두리가 크기가 포함되도록 함 - 그 뒤 width를 50프로*/
	#gnb ul li { 
		float:left;
		width:50%;
		height:39px;
		background:#eee;
		border:1px solid #999;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
	}
	/*필요한 부분을 남기고 테두리를 제거 해도 사이즈의 변동이 없음*/
	#gnb ul li:nth-child(1) { 
		border-left:none;
		border-top:none;
	}
    #gnb ul li:nth-child(2) { 
    	border-top:none;
    	border-left:none;
    	border-right:none;
	}
    #gnb ul li:nth-child(3) { 
    	border-top:none;
    	border-left:none;
    	border-bottom:none;
	}
    #gnb ul li:nth-child(4) { 
    	border:none;
	}
	/*주메뉴를 심플하게 표현*/
    #gnb ul li a.mm { 
    	padding:10px;
    	color:#555;
    	text-decoration:none;
    	width: auto;
    	pointer-events:none; /*hover event 지우기*/
	}
	/*서브 메뉴도 없애줌*/
	#gnb ul li ul { 
		display:none;
	}
	/*나중에 전체 메뉴를 올리기 위해 스크립트로 display:none 처리 해줌*/
	/*전체 메뉴 보기 버튼을 가운데로 위치*/
	.allmenu_view {
		width:100%;
		text-align:center;
	}
	.allmenu_view a { 
		display:inline-block;
		background:url("../images/btn_allmenu.png") no-repeat center top;
		width:50%;
		height:26px;
		padding-top:13px;
		color:#fff;
	}
	#allMenu_box { 
		width:85%;
		margin:0 auto;
		padding:10px 0 0;
		display:none; /*전체 메뉴 테스트*/
		background:#fff;
		border:2px solid #369;
	}
	#allMenu_box ul { 
		width:95%;
		margin:0 auto;
		padding-bottom:5px;
	}
	#allMenu_box ul li { 
		width:100%;
		border-bottom:1px dashed #ccc ;
		padding:5px 0;
	}
	#allMenu_box ul li.last { 
		border:none;
	}
	#allMenu_box ul li:after { 
		content:"";
		display:block;
		clear:both;
	}
	#allMenu_box ul li a { 
		font:bold 11px/1.5  "NGothicEB",Gulim;
		color:#555;
		background:#eee;
		float:left;
		width:33%;
		text-align:center;
	}
	#allMenu_box ul li ul { 
		float:left;
		width:65%;
		padding:0 0 0 2%;
	}
	#allMenu_box ul li ul li { 
		float:left;
		width:auto;
		padding:5px 5% 5px 0;
		border:none;
	}
	#allMenu_box ul li ul li a { 
		width:auto;
		font:bold 10px  "NGothicEB",Gulim;
		color:#aaa;
		text-align:left;
		background:none;
	}
	.all_close { 
		display:block;
		text-align:center;
		padding:5px;
		background:#369;
		color:#fff;
	}
	.all_close:hover { 
		color:#fff;
	}
}