@charset "utf-8";

/*PC - 메인 컨텐츠 영역 - 다운로드, 이달의 저자 컬럼*/

	/*컨텐츠 중 우측 */
	#down-author { 
		float:right; width:248px; padding:0 10px 0 0; 
	}
	/*이달의 저자 컬럼의 여백과 타이포그래피 설정*/
	#author_column h2 { 
		padding:10px 0; 
	}
	#author_column ul li a { 
		font:12px "NGothic",Gulim; color:#999; 
	}
	/*저자 컬럼의 설명 부분 제목을 줄바꿈*/
	#author_column .nscreen { 
		padding-top:10px; 
	}
	#author_column .nscreen span { 
		display:block; color:#333; font-family:"NGothicEB"; 
	}


/*태블릿 - 메인 컨텐츠 영역 - 다운로드, 이달의 저자 컬럼*/
@media (max-width:1023px) {
	/*태블릿 버전은 pc 버전보다 좁으므로 clear:both 하여 아래로 내린다 */
	#down-author { 
		clear:both; 
		position:relative; 
		width:100%; 
		border-top:3px double #ccc;
		float: unset;
    	padding: 0;
	}
	/*화면에 맞추어 위치와 크기를 조정*/
	.down { 
		position:absolute; 
		left:0; 
		top:0; 
		max-width:201px; 
		width:22%;
		padding:20px 0 0 10px;
	}
	#author_column { 
		margin-left:27%;
		width:71%;
	}
	#author_column h2 { 
		padding:20px 0 10px;
	}
	#author_column ul { 
	}
	/*안의 li를 float 처리 하여 설정해줌 */
	#author_column ul:after { 
		content:""; 
		display:block;
		clear:both;
	}
	/*float 처리*/
	#author_column ul li { 
		float:left;
	}
	#author_column ul li a:hover { 
	}
	/*nscreen 설정 변경 : width, padding, line-height*/
	#author_column .nscreen { 
		width:40%; 
		padding:20px 0 0 15px; 
		line-height:150%;
	}
	#author_column .nscreen span { 
		padding:5px 0;
	}
}





/*모바일 - 메인 컨텐츠 영역 -  다운로드, 이달의 저자 컬럼*/
@media (max-width:767px) {
	#down-author {}
	/*다운로드 버튼 감춤*/
	.down {
		display:none; 
	}
	#author_column {
		margin: 0;
    	width: 100%;
	}
	#author_column h2 {
		padding:20px 0 10px; 
	}
	#author_column ul video {
		width:90%; height:250px;
	} 
	#author_column ul li {
		float: none;
	}
	/*동영상 컨텐츠는 정중앙에 배치*/
	#author_column ul li:nth-child(1) {
		text-align:center; 
	}
	#author_column .nscreen {
		line-height: 150%;
    	width: 100%;
    	padding: 0;
	}
}