@charset "utf-8";

/*PC - 푸터 영역*/

	/*경계에 이중 라인이 있어 border 가 아닌 배경 이미지로 처리*/
	/*가로 사이즈를 주지 않음으로써 양쪽으로 연장되도록 함*/
	footer#realfooter { 
		background:url("../images/foot_bg.gif") repeat-x;
	}
	/*width 1003px 주고 maring auto 줘서 중앙 정렬, float 해제*/
	footer .foot { 
		width:1003px; margin:0 auto; padding:20px 0;
	}
	footer .foot:after { 
		content:""; display:block;clear:both;
	}
	/*안의 요소들 float 하고 글꼴과 여백 설정*/
	footer .foot div { 
		float:left; width:500px; color:#999;
	}
	footer .foot p { 
		font:12px "NGothicEB",Gulim;
	}
	footer .foot .copy { 
		padding-top:20px;
	}
	footer .foot ul { 
		float:right;
	}
	footer .foot ul li { 
		display:inline;padding:0 5px;
	}



/*태블릿 - 푸터 영역*/
@media (max-width:1023px) {
	/*가로폭 퍼센트로 지정*/
	footer .foot { 
		width:95%; 
	}
	footer .foot div { 
		width:350px; 
	}
}


/*모바일 - 푸터 영역*/
@media (max-width:767px) {
	footer .foot div {
		width: 100%;
    	float: none;
	}
	footer .foot p {
		font:11px "NGothicEB",Gulim; 
	}
	footer .foot ul {
		padding-top:10px; 
		float: none;
	}
	footer .foot ul:after {
		content:""; 
		display:block;
		clear:both;
	}
	footer .foot ul li {
		float:left; 
		width:50%; 
		padding: 0;
	}
	footer .foot ul li img{
		width:100%; 
	}
}