@charset "utf-8";

/*PC - 신간추천 영역*/

	/*신간 정보가 좌우로 슬라이딩 하는 형태 - 가로폭을 정확히 지정하고
	영역에 해당하지 않으면 가려지도록 overflow:hidden
	*/
	#recomm_book { 
		position:relative;width:1003px; margin:0 auto; padding-bottom:10px; overflow:hidden; z-index:30;
	}
	/*섹션 안의 상자들은 가려지는 부분까지 2배 폭을 지정, 그 속에 float 된 부분을 해제*/
	#book_frame { 
		position:relative; left:0; width:200%;
	}
	#book_frame:after { 
		content:""; display:block;clear:both;
	}
	/*bookcon : 추천 신간 정보 하나가 들어 있는 상자*/
	/*가로 배치 한 이후에 float 해지*/
	/*상단 book_frame의 width를 200프로로 잡아서 bookcon는 반대로 50프로  */
	.bookcon { 
		float:left; width:50%; padding-top:30px;}
	.bookcon:after { 
		content:""; display:block;clear:both;
	}
	/*신간의 제목 이미지를 오른쪽으로 배치*/
	.bookcon h2 { 
		text-align:right; padding:0 50px 0 0;
	}
	.bookcon ul{ 
		width:100%;
	}
	/*내부의 사진 내용 버튼등 float 된 요소를 해제*/
	.bookcon ul:after { 
		content:""; display:block;clear:both;
	}
	/*신간의 그림과 내용, 자세히 보기 버튼을 float 하고 여백을 맞춘다.*/
	.bookcon li.pic { 
		float:left; width:273px; position:relative;top:-50px; margin-bottom:-50px; padding-left:50px;
	}
	.bookcon li.smr { 
		float:right; width:489px; padding:50px 50px 0 0;
	}
	.bookcon li.detail { 
		float:right; width:430px; padding:50px 65px 0;
	}
	/*부모 박스인 recomm_book 기준으로 absolute*/
	#arrow a { 
		position:absolute; top:120px;
	}
	#arrow a.prev { 
		left:0;
	}
	#arrow a.next{ 
		right:0;
	}
	/*신간 하단 표식: 중앙 하단에 배치 사진 그림자와 겹치지 않게 최대한 아래로 내려줌*/
	#book_roll { 
		position:absolute; left:48%; bottom:0;
	}
	#book_roll li { 
		display:inline;
	}



/*태블릿 - 신간추천 영역*/
@media (max-width:1023px) {
	/*width와 padding 수정*/
	#recomm_book { 
		width:95%;
	}
	#book_frame:after { 
		content:""; 
		display:block;
		clear:both; 
	}
	.bookcon:after { 
		content:""; 
		display:block;
		clear:both; 
	}
	/*padding 값 변경*/
	.bookcon h2 { 
		padding:2% 9%  0 0; 
	}
	/*관련 타이틀 이미지 크기 수정*/
	.bookcon h2 img { 
		width:51%; 
	}
	.bookcon ul:after { 
		content:""; 
		display:block;
		clear:both; 
	}
	.bookcon li.pic { 
		width:27.2%;
		top:-45px; 
		margin-bottom:-45px; 
		padding-left:6.48%; 
	}
	.bookcon li.smr { 
		width:48.75%; 
		padding:3% 6.3% 0 0;  
	}
	.bookcon li.detail { 
		width:44.76%; 
		padding:5%  6% 0; 
	}
	/*자세히 알아보기 버튼 크기 수정*/
	.bookcon li.detail img { 
		width:60%; 
	}
	#arrow a { 
		top:38%; 
	}
	.prev { 
		left:0; 
	}
	.next { 
		right:0; 
	}
}


/*모바일 - 신간추천 영역*/
@media (max-width:767px) {
	#recomm_book { 
		width:95%;
		padding-bottom:20px;
		overflow:hidden;
	}
	.bookcon {
		padding-top : 0;
	}
	.bookcon h2 { 
		width:90%; 
		padding:4%  0  0 9%; 
	}
	.bookcon h2 img { 
		width:60%; 
	}
	.bookcon li.pic { 
		top:-30px; 
		margin-bottom:-30px; 
	}
	.bookcon li.detail { 
		padding:3%  6% 0; 
	}
	/*위치를 변경하고 기기의 특성을 고려해 이미지를 줄임*/
	#arrow a { 
		position:absolute; 
		top:25%; 
		width:5%;
	}
	#arrow a img { 
		width:70%; 
	}
	.prev { 
		left:0; 
	}
	.next { 
		right:0; 
	}
	
	#book_roll { 
		position:absolute; 
		left:48%; 
		bottom:0; 
	}
	#book_roll li { 
		display:inline; 
	}
	#book_roll li img { 
		width:8px; 
	}
}