@charset "utf-8";

/*PC - 메인 컨텐츠 영역 - 새로 나온 책, 새로 나온 소식*/
	/*새로나온 책*/
	#newbooks-news { 
		position:relative; float:left; width:470px;
	}
	/*새로나온 책 탭메뉴*/
	#newbooks-news .t1{ 
		position:absolute; right:131px; top:0;
	}
	/*새로나온 소식 탭메뉴*/
	#newbooks-news .t2{ 
		position:absolute; right:11px; top:0;
	}
	/*새로나온 책 박스*/
	.item1 {
		margin-top:37px; border-top:1px solid #aaa;
	}
	/*새로나온 책 안의 a 태그*/
	/*inline-block을 주어 여백을 줌*/
	.item1 a.rss { 
		display:inline-block; margin-top:40px;
	}
	#newbook_list1 { 
	}
	/*booklist article : 박스 안에 배치될 내용의 폰트 지정
	float 된 요소를 해제 : height값이 정상적으로 나타나도록 */
	.booklist { 
		font:13px "NGothic",Gulim;
	}
	.booklist:after { 
		content:""; display:block;clear:both;
	}
	/*책 이미지를 왼쪽에  소제목과 요약 정보 및 footer를 오른쪽에 배치*/
	.booklist h1 { 
		float:left; width:85px; padding:0 0 0 10px;
	}
	.booklist p.subtit { 
		float:right; width:340px; padding-right:10px; font:13px "NGothicEB",Gulim; color:#333;
	}
	.booklist p.smr  { 
		float:right; width:340px; padding:10px 10px 10px 0; line-height:150%;  color:#999;}

	.booklist footer { 
		float:right; width:340px; padding-right:10px;
	}
	.booklist footer strong { 
		font:13px "NGothic",Gulim; color:#f60;
	}

	/*새로나온 소식 박스 - 숨김 처리*/
	.item2 { 
		display:none;
	}


	/*새로나온 소식*/
	/*첫번째 탭메뉴와 거의 비슷*/
	#news_list { 
		margin-top:37px; border-top:1px solid #aaa;  padding-top:40px; 
	}
	#news_list ul { 
		padding:0 10px;
	}
	/*날짜 요소를 absolute로 두어서 relative로 설정 */
	#news_list ul li { 
		position:relative; width:100%; font:13px "NGothic",Gulim; padding:8px 0; border-bottom:1px solid #ccc;color:#999;
	}
	#news_list ul li a { 
		background:url("../images/bul_icon.gif") no-repeat 0 50%; padding-left:10px;color:#999;
	}
	#news_list ul li a:hover { 
		color:#069;
	}
	/*날짜요소 */
	#news_list ul li span { 
		position:absolute; right:10px;
	}



/*태블릿 - 메인 컨텐츠 영역 - 새로 나온 책, 새로 나온 소식*/
@media (max-width:1023px) {
	/*탭 메뉴의 제목으 PC 버전과는 달리 좌측에 배치*/
	#newbooks-news {
		width:72%; 
	}
	#newbooks-news .t1{
		left:10px; 
		right: 0;
	}
	#newbooks-news .t2{
		position:absolute; 
		left:130px; 
		top:0; 
	}
	.item1 a.rss {
		margin-top:30px; 
	}
	#newbook_list1 {}
	/*이 탭메뉴의 이미지는 늘어나면 해상도가 떨어지므로 다른 컨텐츠는 가변으로 잡아도
	이 이미지만은 고정시키는 것이 좋습니다-세로크기를 유지*/
	.booklist {
		position:relative; 
		min-height:111px; 
		font:13px "NGothic",Gulim; 
	}		
	.booklist h1 {
		position:absolute; 
		left:10px;padding:0; 
		width:111px; 
		height: auto;
	}
	/*이미지 max-width 지정*/
	.booklist h1 img {
		width:100%; 
		max-width:83px; 
	}
	/*책 이미지 해상도를 유지시키기 위해 플로팅 하지 않고 표지셔닝 방식으로 배치*/
	/*이미지 영역은 111px 로 고정*/
	.booklist p.subtit {
		width:77%; 
    	float: none;
    	margin-left: 111px;
	}
	.booklist p.smr {
		width:77%; 
		float: none;
    	margin-left: 111px;
	}
	.booklist footer {
		width:77%; 
		float: none;
    	margin-left: 111px;
	}
	#news_list {
	 	padding-top:25px;  
	}
}



/*모바일 - 메인 컨텐츠 영역 -  새로 나온 책, 새로 나온 소식*/
@media (max-width:767px) {
	#newbooks-news { 
		position:relative;
	 	border:1px solid #fff;
	 	width: 100%;
	}
	#newbooks-news .t1{
		left:5px;
	}
	.item1 a.rss {
		margin-top: 0;
	}
	.booklist {
		font:11px "NGothic",Gulim;
	  	padding:20px 0 10px;
	}
	.booklist h1 {
		left:5px;
	  	width:85px;
	}
	.booklist p.subtit {
		font:12px "NGothicEB",Gulim;
	}
	.booklist p.smr {
		line-height:120%;
		text-align:justify;
	}
	.booklist footer {
	}
	#newbooks-news .t2{
		left:125px;
		right: unset;
	}
	#news_list {
		margin-top:37px;
	  	padding-top:20px;
	}
	#news_list ul li {
	 	padding:7px 0;
	}	
}